<h2>About my Budget Page</h2>

<p> Putting your financial goals in writing can make them more concrete and achievable. However, it's easy for everyday purchases and obligations to get in the way of saving for the future. One of the best ways to make sure your daily spending habits don't overwhelm your life goals is to create a spending plan.</br>
</br>A spending plan is not meant to be a strict budget. Instead, it's a guide that will help you take control of your financial future and, ultimately, reach your goals.</br>
</br>This application can offer you the opportunity to do your planning, stating with your spending.
Once you identify your spendings you can take better control of your money!
</p>
