<h3>All Categories</h3>

<% @categories.each{|category|  %>
  <table>
    <tr>
      <td bgcolor="ROSYBROWN"><b>Category <%= category.id %></b></td>
      <td><b>Name: </b><%= category.name %></td>

      <td><form action="/budgetup/categories/<%= category.id %>/delete_category" method="POST">
        <input type="submit" value="Delete Category" />
      </form></td>
    </tr>
  </table>
  <% } %>
