header{
  background: MAROON;
  font-family: 'Impact';
  font-size: 60px;
  padding: 10px;
  text-align: center;
  color: black;
}


body {
  background-color: #D7CEC7;
  background-image:url('/images/piggy_bank.svg');
  background-position: bottom right;
  background-attachment: fixed;
  background-size: 25%;
  background-repeat: no-repeat;
  font-family: 'Helvetica', serif;
  padding: 0px;
  margin: 0px;
}

.footer{
  font-size: 10px;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}

p{
  font-family: 'Helvetica';
  font-size: 15px;
  width: 50em;
  text-align: justify;
  padding: 0px 20px 5px 20px;
}

.index{
  width: 25em;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Helvetica', cursive;
  margin: 0px;
  padding: 0px;
}

h1{
  font-family:'Courier';
}

h2 {
  font-family: 'Helvetica';
  font-size: 20px;
  margin-top: 40px;
  padding: 20px 10px 5px 20px;
}

h3 {
  color: darkred;
  margin-bottom: 20px;
  padding: 20px 20px 5px 20px;
}

h5{
  font-size: 1.8em;
}

a, a:link, a:visited {
  color: DARKCYAN;
  text-decoration: none;
}

a:hover, a:active, a:focus {
  color: black;
}

.bar li{
  display: inline;
  text-transform: uppercase;
}

.menu li{
  display: inline;
  padding: 0px 15px 5px 0px;
}

#main{
  font-weight: bold;
}
#main:hover{
  background-color: white;
}
